BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never

PointerAlignment: Left # int* p (instead of int *p)
FixNamespaceComments: true
NamespaceIndentation: All
AllowShortFunctionsOnASingleLine: None
ColumnLimit: 120
